<% provide(:title, 'Contacts') %>

<h1>Contact</h1>
<p>
For general questions or comments, 
please consult the resources listed on the help page.
Otherwise, I can be reached at admin@railstutorial.org.
</p>
